<div id="popup" class="map-popup">
    <div class="map-popup__body">
        <div class="map-popup__content">
            <a href="#" class="map-popup__close close-popup">X</a>
            <div class="map-popup__title">
                this is title
            </div>
            <div class="map-popup__text">
                Hello darkness my old friend
                Hello darkness my old friend
                Hello darkness my old friend
                Hello darkness my old friend
                Hello darkness my old friend
                Hello darkness my old friend
                Hello darkness my old friend
                Hello darkness my old friend
                Hello darkness my old friend
            </div>
        </div>
    </div>
</div>