<div id="#popup" class="map-popup">
    <div class="map-popup__body">
        <div class="modal modal-block">
            <div class="js__confirmation-address-container">
                <div class="map-popup__close-container">
                    <div class="font_h2">Введите адрес доставки</div>
                    <svg class="button-icon button-icon_color_gray map-popup__close close-popup" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.46458 15.5354L15.5356 8.46436" stroke="black" stroke-width="3" stroke-linecap="round"/>
                        <path d="M8.46458 8.46458L15.5356 15.5356" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="map-popup__input">
                    <input type="text" id="js__map-add-address" class="input input_border mr" placeholder="Начните вводить адрес"/>
                <button id="js__add-new-address__btn" class="button button__bg button_color_green">Продолжить</button>
                </div>
                <div id="js__map" class="map-popup__address-confirmation"></div>
    </div>
</div>
