<div id="popup" class="map-popup">
    <div class="map-popup__body">
        <div class="map-popup__content">
            <div class="js__confirmation-address-container">
            <a href="#" class="map-popup__close close-popup">X</a>
            <p><span class="confirmation-address-container__title">Чтобы мы смогли показать тебе правильные рестораны выбери адрес</span></p>
            <input type="text" id="js__map-add-address"/>
            <div class="map-popup__text">
            </div>
                <div id="js__map" class="map-popup__address-confirmation"></div>
            <button id="js__add-new-address__btn" class="button">Продолжить</button>
            </div>
        </div>
    </div>
</div>
