<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../../main.css"/>
    <title>DishPopIt</title>
</head>
<body>
    <div class="dish-popup-wrapper">
        <div class="dish-popup">
            <div class="dish-popup__main-info">
                <div class="dish-popup__close-button-wrapper">
                    <div class="button button_color_white dish-popup__close-button">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.46458 15.5354L15.5356 8.46436" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M8.46458 8.46458L15.5356 15.5356" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
                <div class="dish-popup__image-wrapper">
                    <img class="dish-popup__image" src="https://calorizator.ru/sites/default/files/imagecache/product_512/product/chicken-mcnuggets.jpg">
                </div>

                <div class="dish-popup__dish-title">
                    ЧикенМакнаггетс
                </div>
            </div>
            <div class="dish-popup__dish-setting">
                <div class="dish-popup__description">
                    Неподражаемые Чикен Макнаггетс – это сочное 100% белое куриное мясо в хрустящей панировке со специями. Только натуральная курочка без искусственных красителей и ароматизаторов и без консервантов
                </div>
                <div class="dish-popup__checkboxes-wrapper-title">
                    Выберите соус
                </div>
                <div class="dish-popup__checkboxes-wrapper">
                    <div class="dish-popup__checkbox-row">
                        <label class="container">
                            <input type="radio" checked="checked" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <div class="dish-popup__checkbox-title">
                            Кисло-сладкий соус
                        </div>
                    </div>
                    <div class="dish-popup__checkbox-row">
                        <label class="container">
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <div class="dish-popup__checkbox-title">
                            Кисло-сладкий соус
                        </div>
                    </div>
                    <div class="dish-popup__checkbox-row">
                        <label class="container">
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <div class="dish-popup__checkbox-title">
                            Кисло-сладкий соус
                        </div>
                    </div>
                </div>

                <div class="dish-popup__checkboxes-wrapper-title">
                    Выберите добавочные ингридиенты
                </div>
                <div class="dish-popup__checkboxes-wrapper">
                    <div class="dish-popup__checkbox-row">
                        <label class="container">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <div class="dish-popup__checkbox-title">
                            Кисло-сладкий соус
                        </div>
                        <div class="dish-popup__add-item-cost">
                           + 28 ₽
                        </div>
                    </div>
                    <div class="dish-popup__checkbox-row">
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <div class="dish-popup__checkbox-title">
                            Кисло-сладкий соус
                        </div>
                        <div class="dish-popup__add-item-cost">
                           + 28 ₽
                        </div>
                    </div>
                    <div class="dish-popup__checkbox-row">
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <div class="dish-popup__checkbox-title">
                            Кисло-сладкий соус
                        </div>
                        <div class="dish-popup__add-item-cost">
                            + 28 ₽
                        </div>
                    </div>
                </div>
            </div>
            <div class="dish-popup__selector-buy-button-box">
                <div class="dish-popup__num-selector-box">
                    <div class="button dish-popup__selector-button">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 12L17 12" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="dish-popup__number">1</div>
                    <div class="button dish-popup__selector-button">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 17V7" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M7 12L17 12" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
                <div class="button button_color_black button_shape_rounded dish-popup__buy-button">
                    Добавить в корзину
                    <div class="dish-popup__cost">
                        100 ₽
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>