:root {
    --confirmPopupBorderRadius: 32px;
    --confirmPopupOuterPadding: 32px;
}

.confirm-popup {
    &-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        padding: 50px;
        box-sizing: border-box;
        display: flex;
        overflow: auto;
        z-index: 100;
    }

    box-sizing: border-box;
    background-color: var(--color-white);
    margin: auto;
    border-radius: var(--confirmPopupBorderRadius);
    display: flex;
    flex-direction: column;
    overflow: auto;

    &__header {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--confirmPopupOuterPadding) var(--confirmPopupOuterPadding) 0 var(--confirmPopupOuterPadding);
    }

    &__body {
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 0 var(--confirmPopupOuterPadding) var(--confirmPopupOuterPadding) var(--confirmPopupOuterPadding);
    }

    &__title {
        font-weight: var(--font_bold);
        font-size: 30px;
    }

    &__card-wrapper {
        padding: var(--confirmPopupOuterPadding);
        box-sizing: border-box;
        margin: 15px 0  15px 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 32px;
        flex-direction: column;
        display: flex;
        width: 490px;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    &__summary-title {
        font-size: 18px;
    }

    &__summary-val {
        font-size: 30px;
    }

    &__pay-button {
        margin-top: 25px;
        font-size: 20px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    &__close-button {
        cursor: pointer;
    }
}

.card {
    margin: 0 auto 0 auto;
    width: 424px;
    height: 248px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &__row {
        margin: 5px 0 5px 0;
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    &__input {
        border: none;
        border-bottom: solid 1px black;
        outline: none;
        margin: 0 5px 0 5px;
    }

    &__input__fs_3 {
        flex-shrink: 3;
    }

    &__cvv-note {
        color: rgba(0,0,0,.4);
        font-size: 14px;
        margin-left: auto;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    &__row-mt {
        margin-top: 30px;
    }
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}