:root {
    --cartWrapperHeight: 80vh;
    --cartMinWidth: 300px;

    --cartBuyButtonFontSize: 25px;
    --cartBuyButtonHeight: 60px;

    --cartStickyMarginTop: 75px;

    --cartTitleFontSize: 30px;
    --cartSummaryFontSize: 40px;
    --cartSummaryTitleFontSize: 20px;

    --cartOrderRowFontSize: 20px;
    --cartOrderRowInfoFontSize: 15px;

    --cartBorderRadius: 2px;
}

.cart {
    &-wrapper {
        height: var(--cartWrapperHeight);
        min-width: var(--cartMinWidth);
        display: flex;
        flex-direction: column;
    }

    height: 100%;
    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    border-radius: var(--cartBorderRadius);

    &__buy-button {
        margin-top: 15px;
        height: var(--cartBuyButtonHeight);
        font-size: var(--cartBuyButtonFontSize);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        flex-shrink: 0;
    }

    &__sticky {
        position: fixed;
        top: 0;
        margin-top: var(--cartStickyMarginTop);
    }

    &__header {
        padding: 20px 20px 10px 20px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        margin-bottom: 15px;
        border-bottom: solid 1px darkgrey;
    }

    &__title {
        font-weight: var(--font_bold);
        font-size: var(--cartTitleFontSize);
    }

    &__clear-button {
        margin-left: auto;
    }

    &__summary {
        padding: 10px 20px 20px 20px;
        border-top: solid 2px darkgrey;
        display: flex;
        margin-top: auto;
    }

    &__cost-summary-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 auto;
    }

    &__summary-val {
        font-size: var(--cartSummaryFontSize);
        font-weight: var(--font_thin);
    }

    &__summary-title {
        font-size: var(--cartSummaryTitleFontSize);
        font-weight: var(--font_thin);
        color: var(--color-gray);
    }

    &__summary-val-cost {
        display: flex;
        flex-direction: row;
    }

    &__summary-cost {
        font-size: var(--cartSummaryFontSize);
        font-weight: var(--font_thin);
    }

    &__P {
        font-size: var(--cartSummaryFontSize);
        font-weight: var(--font_thin);
    }

    &__time-summary-box {
        margin-right: 20px;
        width: 100%;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
    }

    &__orders-body {
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 20px;

        overflow: auto;
    }

    &__order-row {
        flex-wrap: wrap;
        padding: 20px 0 20px 0;
        border-bottom: solid 1px darkgrey;

        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__order-restaurant-img {
        width: 96px;
        height: 96px;
        margin-left: auto;
        object-fit: cover;
    }

    &__order-row-additional {
        margin-top: 5px;
        width: 100%;
        color: var(--color-gray);
    }

    &__order-row-right-box {
        display: flex;
        flex-wrap: nowrap;
        margin-left: auto;
    }

    &__order-row-selector {
        margin-right: 25px;
    }

    &__order-row-title {
        font-size: var(--cartOrderRowFontSize);
        font-weight: var(--font_medium);
    }

    &__order-row-info {
        font-size: var(--cartOrderRowInfoFontSize);
        font-weight: var(--font_thin);
    }

    &__order-row-cost {
        font-size: var(--cartOrderRowFontSize);
        font-weight: var(--font_thin);
        margin: auto;
    }

    &__required {
        font-weight: var(--font_thin);
    }
}