.dish {
    display: flex;
    flex-direction: row;

    height: 158px;
    min-width: 175px;
    max-width: 560px;

    flex-grow: 1;

    border: 1px solid #e2e2e2;
    cursor: pointer;
}

.dish__text {
    padding: 16px 16px;
    width: 100%;

    display: flex;
    flex-direction: column;
}


.dish__title {
    font-weight: var(--font_bold);
    font-size: 18px;
}

.dish__info {
    margin-top: auto;
    font-weight: var(--font_thin);
}

.dish__image {
    flex-shrink: 0;
    width: 158px;
    object-fit: cover;
}

.dish-wrapper {
    width: 100%;
    display: flex;
}