<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="dish.css" rel="stylesheet">
    <link href="../../main.css" rel="stylesheet">
    <title>Dish</title>
</head>
<body>
<div class="dish-wrapper">
  <div class="dish">
    <div class="dish__text">
      <div class="dish__title">
        Чикен макнаггетс
      </div>

      <div class="dish__info">
        100Р х 420ккал
      </div>
    </div>


<!--    <div class="dish__image">-->
      <img class="dish__image" src="https://calorizator.ru/sites/default/files/imagecache/product_512/product/chicken-mcnuggets.jpg">
<!--    </div>-->
  </div>

  <div class="dish">
      <div class="dish__text">
          <div class="dish__title">
              Чикен макнаггетс
          </div>

          <div class="dish__info">
              100Р х 420ккал
          </div>
      </div>


      <!--    <div class="dish__image">-->
      <img class="dish__image" src="https://calorizator.ru/sites/default/files/imagecache/product_512/product/chicken-mcnuggets.jpg">
      <!--    </div>-->
  </div>
  <div class="dish">
      <div class="dish__text">
          <div class="dish__title">
              Чикен макнаггетс
          </div>

          <div class="dish__info">
              100Р х 420ккал
          </div>
      </div>


      <!--    <div class="dish__image">-->
      <img class="dish__image" src="https://calorizator.ru/sites/default/files/imagecache/product_512/product/chicken-mcnuggets.jpg">
      <!--    </div>-->
  </div>
</div>

</body>
</html>