.dish {
    display: flex;
    flex-direction: row;

    height: 158px;

    width: 430px;

    border-radius: 16px;

    border: 1px solid #e2e2e2;
    cursor: pointer;

    transition-property: border-color;
    transition-duration: 200ms;
}

.dish:hover {
    border-color: black;
}

.dish__text {
    padding: 16px 16px;
    width: 100%;

    display: flex;
    flex-direction: column;
}


.dish__title {
    font-weight: var(--font_bold);
    font-size: 18px;
}

.dish__info {
    margin-top: auto;
    font-weight: var(--font_thin);
}

.dish__image {
    flex-shrink: 0;
    width: 158px;
    object-fit: cover;

    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.dish-wrapper {
    width: 100%;
    display: flex;
}