h3 {
    margin: 0;
}

.home-page__restaurant-block-title {
    display: inline-block;
    font-size: 36px;
    font-weight: var(--font_bold);
    min-width: 100%;
}

.promo__main-title {
    font-weight: var(--font_bold);
    font-size: 28px;
}

.promo__description-title {
    font-weight: var(--font_thin);
    font-size: 18px;
}

.home-page__promo-line {
    margin-top: 20px;
}

.home-page__promo-line-title {
    width: 16%;
}

.home-page__promo-line-blocks {
    display: flex;
    flex-wrap: wrap;
    width: 81%;
    margin-left: auto;
}

.home-page__promo-block {
    margin-bottom: 20px;
    margin-right: 10px;
}

@media (min-width: 0px) and (max-width: 640px) {
    .home-page__restaurants-list {
        width: 100%;
    }

    .sort-box {
        display: none;
    }
}

.home-page__restaurants-list {
    width: 81%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 30px;
    margin-left: auto;
}

.home-page__restaurant-block {
    margin: 10px;

    border: solid 1px #e2e2e2;
    border-radius: 16px;

    transition-property: margin;
    transition-duration: 100ms;
}

.home-page__restaurant-block:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);
}


.home-page__sort {
    display: flex;
    max-width: 16%;
}

.home-page__line {
    display: flex;
    align-items: flex-start;
}

.home-page__restaurant-block-title {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid var(--sort-underheader__border_size) var(--sort-underheader__border_color);
}