.promo__main-title {
    font-weight: var(--font_bold);
    font-size: 28px;
}

.promo__description-title {
    font-weight: var(--font_thin);
    font-size: 18px;
}

.home-page {
    &__promo-line {
        margin-top: 20px;
        display: flex;
    }

    &__promo-line-title {
        width: 16%;
    }

    &__promo-line-blocks {
        display: flex;
        flex-wrap: nowrap;
        width: 81%;
        margin-left: auto;
    }

    &__promo-block {
        margin-bottom: 20px;
        margin-right: 10px;
    }
}