<div class="home-page__promo-line">
    <div class="home-page__promo-line-title">
        <div class="promo__main-title">
            Захотели покушать?!<br>Закажите у нас!
        </div>

        <div class="promo__description-title">
            Найдите свои любимые ресторан, кухню или блюдо
        </div>
    </div>
    <div class="home-page__promo-line-blocks">
    </div>
</div>

<div class="home-page__restaurants-list">

</div>