.input {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
}

.red_border_red {
    border-color: red;
}