<div class="sort-underheader">
    <button class="button button_height_b button_color_white button_sort-type sort-underheader__button">
        <img class="button__icon-sort" src="../../assets/images/hamburger.svg" alt="ham"/>
        Фастфуд
    </button>
    <button class="button button_color_white button_sort-type sort-underheader__button">
        <img class="button__icon-sort" src="../../assets/images/hamburger.svg" alt="ham"/>
        Фастфуд
    </button>
    <button class="button button_height_b button_color_white button_sort-type sort-underheader__button">
        <img class="button__icon-sort" src="../../assets/images/hamburger.svg" alt="ham"/>
        Фастфуд
    </button>
    <button class="button button_height_b button_color_white button_sort-type sort-underheader__button">
        <img class="button__icon-sort" src="../../assets/images/hamburger.svg" alt="ham"/>
        Фастфуд
    </button>
</div>