.profile-page__content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #F6F6F6;

    padding: 50px 3% 150px;
}

.profile-page__title {
    min-width: 100%;
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 30px;
}

.profile-page__left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 50%;
    background-color: var(--color-white);
    border-radius: 30px;
}

.profile-page__right-box {

    margin-right: auto;
}

.profile-page__input-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 40px 75px;
}

.profile-page__input-label {
    width: 100%;
    padding-top: 30px;
    font-weight: 600;
    color: var(--color-gray);
}

.profile-page__input {
    margin-top: 5px;
}

.profile-page__button {
    margin-top: 50px;
    font-size: 20px;
    border-radius: 30px;
    width: 100%;
}

.profile-page__button_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;
}

.profile-page__button-color {
    background-color: #F6F6F6;
    margin-right: auto;
}

