.promo-line-wrapper {
    position: absolute;
    left: 200px;
    display: flex;
}

.promo-line {
    display: flex;
    flex-wrap: nowrap;
    width: 1000px;
    overflow: hidden;

    box-sizing: border-box;
}

.promo-line-block {
    flex-shrink: 0;
    margin-right: 10px;
}