:root {
    --promoLineButtonSize: 30px;
}

.promo-line {
    color: black;
    &-wrapper {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding-left: calc(var(--promoLineButtonSize) / 2);
        padding-right: calc(var(--promoLineButtonSize) / 2);
        position: relative;
    }

    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    &__button {
        position: absolute;
        top: calc(160px / 2 - var(--promoLineButtonSize) / 2);
        visibility: hidden;
        cursor: pointer;
        background-color: white;

        border-radius: 50%;

        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 8%);
        box-sizing: border-box;
        display: flex;
        z-index: 100;
    }

    &__button-left {
        left: 0;
    }

    &__button-right {
        left: calc(100% - var(--promoLineButtonSize));
    }

    &-block {
        flex-shrink: 0;
        margin-right: 10px;
    }
}