:root {
    --color-primary: #F6F6F6;
    --color-green: #3E9920;
    --color-black: black;
    --color-white: white;

    --width-small: 112px;
    --width-medium: 222px;
    --width-big: 442px;

    --height: 48px;
    --font-size: 16px;

    --button__icon-size: 14px;
    --button__icon-nav-size: 40px;
}

body {
    font-family: "Raleway", sans-serif;
}

.button {
    font-size: var(--font-size);
    font-weight: 800;

    padding-left: 10px;
    padding-right: 10px;

    background-color: var(--color-primary);

    border: 0;
    height: var(--height);
}

.button_shape_rounded {
    border: 0 solid;
    border-radius: 30px;
}

.button_color_black {
    background-color: black;
    color: white;
}

.button_color_green {
    background-color: var(--color-green);
}

.button_color_white {
    background-color: var(--color-white);
}

.button_size_s {
    width: var(--width-small);
}

.button_size_m {
    width: var(--width-medium);
}

.button_size_b {
    width: var(--width-big);
}

.button__icon {
    width: var(--button__icon-size);
    height: var(--button__icon-size);
    margin-right: 3px;
}

.button__icon_nav {
    width: var(--button__icon-nav-size);
    height: var(--button__icon-nav-size);
}