:root {
    --button-height-small: 26px;

    --button-height-medium: 36px;

    --button-height-big: 48px;

    --button-height: 48px;
    --button-font-size: 16px;

    --button__icon-size: 14px;
    --button__icon-nav-size: 24px;
}

.button {
    font-size: var(--button-font-size);
    font-weight: var(--font_bold);
    background-color: var(--color-primary);
    height: var(--button-height-medium);
    border-radius: 2px;
    border: solid 1px  rgba(0,0,0,0.12);

    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    margin-bottom: 5px;


    &:hover {
        background-color: var(--color-light-gray);
    }

    &_color_black {
        border: 0;
        background-color: black;
        color: white;
    }

    &_color_black:hover {
        background-color: rgb(26, 26, 26);
        color: white;
    }

    &_color_green {
        border: 0;
        background-color: var(--color-green);
        color: white;
    }

    &_color_green:hover {
        background-color: #057f16;
    }

    &_color_white {
        background-color: var(--color-white);
    }

    &_transparent {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
    }

    &_shape_rounded {
        border-radius: 16px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    &_height_s {
        height: var(--button-height-small);
    }

    &_height_m {
        height: var(--button-height-medium);
    }

    &_height_b {
        height: var(--button-height-big);
    }

    &__container {
        display: flex;
        align-items: center;
        margin: auto;
    }
}

.button-icon {
    display: flex;
    height: var(--button-height-big);
    width: var(--button-height-big);

    border: 0;
    border-radius: 2px;
    padding: 10px;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &_color_gray {
        border: solid 1px  rgba(0,0,0,0.12);
    }

    &_color_gray:hover {
        background-color: var(--color-light-gray);
    }
}

.button_sort-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
}

.button_sort-type:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.button__icon-sort {
    height: 50px;
    width: 50px;
    margin-bottom: 5px;
}

//.nav-button {
//    padding: 0;
//    width: var(--button__icon-nav-size);
//    height: var(--button__icon-nav-size);
//}

//.nav-button:hover {
//    background-color: var(--color-white);
//}