<div class="restaurant-underheader">
    <div class="restaurant-underheader__tags">
        {{#each tags}}
            <div class="restaurant-underheader__tag">
                {{ tagName }}
            </div>
        {{/each}}
    </div>
    <div class="restaurant-underheader__address">
        {{ address }}
    </div>
</div>
<div class="restaurant-nav">
    <hr class="restaurant-nav__line">
    <div class="restaurant-nav__list">
        {{#each menuNavs}}
            <a href="#{{menuId}}" class="restaurant-underheader__a">
                <div class="restaurant-nav__btn">
                    {{menuTitle}}
                </div>
            </a>
        {{/each}}
    </div>

</div>