<div class="restaurant-underheader">
    <div class="restaurant-underheader__tags">
        {{#each tags}}
            <div class="restaurant-underheader__tag">
                {{ name }}
            </div>
        {{/each}}
    </div>
    <div class="restaurant-underheader__address">
        {{ addrs }}
    </div>
</div>
<div class="restaurant-nav">
    <hr class="restaurant-nav__line">
    <div class="restaurant-nav__list">
        {{#each menu}}
            <a href="#{{name}}" class="restaurant-underheader__a">
                <div class="restaurant-nav__btn">
                    {{name}}
                </div>
            </a>
        {{/each}}
    </div>

</div>