@import "../variables/colors.scss";
@import "../variables/fonts.scss";

.sort-box {
    font-family: var(--raleway-font);
    display: flex;
    flex-flow: column wrap;
    max-width: 25vw;

    &__text-container {
        margin-bottom: 24px;
    }

    &__text {
        font-weight: var(--font_bold);
        line-height: 36px;
        font-size: 28px;

    }

    &__expand-button {
        justify-content: space-between;
        font-size: 18px;
        width: 100%;
        line-height: 24px;
        cursor: pointer;
        border: none;
        background: none;
    }

    &__text-block {
        display: flex;
        font-weight: 700;
        width: 100%;
        justify-content: space-between;
    }

    &__free-container {
        flex: 2;
    }

    &__expand-svg {
        width: 24px;
        height: 24px;
    }

    &__expand-table {
        display: flex;
        flex-flow: column wrap;
        max-width: 70%;
        justify-content: space-evenly;
        font-size: 15px;
    }

    &__radio_container {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
    }

    &__radio {
        margin: auto 20px auto 0;
        background-color: #eee;
        border-radius: 50%;
    }

    &__radio:hover {
        background-color: var(--color-black)
    }

    &__radio-container {
        display: flex;
        position: relative;
        padding-left: 50px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__radio-container input {
        position: relative;
        opacity: 0;
        cursor: pointer;
    }

    &__checkmark {
        position: absolute;
        top: -5px;
        left: 5px;
        height: 20px;
        width: 20px;
        border: 3px solid;
        border-color: var(--color-gray);
        background-color: var(--color-white);
        border-radius: 50%;
    }

    &__radio-container:hover input ~ &__checkmark {
        background-color: var(--color-gray);
    }

    &__radio-container input:checked ~ &__checkmark {
        background-color: var(--color-black);
        border-color: var(--color-black);
    }

    &__checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    &__radio-container input:checked ~ &__checkmark:after {
        display: flex;
        top: 6px;
        left: 6px;
        width: 7px;
        height: 7px;
    }

    &__radio-container &__checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }


    &__checkbox {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        margin: 5px;
        float: left;
    }

    &__checkbox_text-container {
        background-color: var(--color-light-gray);
        font-size: 14px;
        font-weight: bold;
        display: flex;
        padding: 0 11px 0 11px;
        justify-content: center;
        align-items: center;
        line-height: 25px;
        border-radius: 22px;
        transition: .5s ease;
    }

    &__checkbox_input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    &__checkbox_input:checked ~ div {
        background-color: var(--color-black);
        color: var(--color-white);
    }


    &__slider-container {
        width: 100%;
    }

    &__slider {
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background: var(--color-gray);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    &__slider:hover {
        opacity: 1;
    }

    &__slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #000000;
        cursor: pointer;
    }
}
