@import "../variables/colors.css";
@import "../variables/fonts.css";

.sort-box {
    font-family: var(--raleway-font);
    max-width: 25vh;
}

.sort-box__text-container {
    margin-bottom: 24px;
}

.sort-box__text {
    font-weight: 700;
    line-height: 36px;
    font-size: 28px;

}

.sort-box__expand-button {
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    line-height: 24px;
    cursor: pointer;
    border: none;
    background: none;
}

.sort-box__text-block {
    display: flex;
    font-weight: 700;
    width: 100%;
    justify-content: space-between;
}

.sort-box__free-container {
    flex: 2;
}

.sort-box__expand-svg {
    width: 24px;
    height: 24px;
}

.sort-box__expand-table {
    display: flex;
    flex-flow: column wrap;
    max-width: 70%;
    justify-content: space-evenly;
    font-size: 15px;
}

.sort-box__radio_container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.sort-box__radio {
    margin: auto 20px auto 0;
    background-color: #eee;
    border-radius: 50%;
}

.sort-box__radio:hover {
    background-color: var(--main-black-color)
}

.sort-box__radio-container {
    display: flex;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sort-box__radio-container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.sort-box__checkmark {
    position: absolute;
    top: -5px;
    left: 5px;
    height: 20px;
    width: 20px;
    border: 3px solid;
    border-color: var(--main-gray-color);
    background-color: var(--main-white-color);
    border-radius: 50%;
}

.sort-box__radio-container:hover input ~ .sort-box__checkmark {
    background-color: var(--main-gray-color);
}

.sort-box__radio-container input:checked ~ .sort-box__checkmark {
    background-color: var(--main-black-color);
    border-color: var(--main-black-color);
}

.sort-box__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sort-box__radio-container input:checked ~ .sort-box__checkmark:after {
    display: flex;
    top: 6px;
    left: 6px;
    width: 7px;
    height: 7px;
}

.sort-box__radio-container .sort-box__checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


.sort-box__checkbox {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 5px;
    float: left;
}

.sort-box__checkbox_text-container {
    background-color: var(--main-light-gray-color);
    font-size: 14px;
    font-weight: bold;
    display: flex;
    padding: 0 11px 0 11px;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 22px;
    transition: .5s ease;
}

.sort-box__checkbox_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.sort-box__checkbox_input:checked ~ div {
    background-color: var(--main-black-color);
    color: var(--main-white-color);
}


.sort-box__slider-container {
    width: 100%;
}

.sort-box__slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--main-gray-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sort-box__slider:hover {
    opacity: 1;
}

.sort-box__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}

