<div class="restaurants-list__line">
    <div class="restaurants-list__sort">
        {{>sortBox }}
    </div>

    <div class="restaurants-list__list">
        {{>sortUnderheader }}
        {{{restaurantList}}}
    </div>
</div>