<div class="restaurants-list__line">
    <div class="restaurants-list__sort">
        {{{ sortBox }}}
    </div>

    <div class="restaurants-list__list">
        <div class="restaurants-list__sort-header">
            {{{sortHeader}}}
        </div>
        {{{restaurantList}}}
    </div>
</div>