<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="userLoginForm.css" rel="stylesheet">
    <link href="../input/input.css" rel="stylesheet">
</head>
<form action="" class="login-page">
    <div class="login-page__logo-container">
        <img src="../../assets/images/Hot%20Mexicans%20Eats-logos_transparent.png" class="login-page__logo" alt="">
    </div>
    <div class="login-page__login-container">
        <div class="login-page__login-form">
            <h1 class="login-page__login_welcome-back-text">С возвращением!</h1>
                <input placeholder="Электронная почта или номер телефона" required class="input login-page__login_input">
                <input type="password" placeholder="Пароль"  required class="input login-page__login_input">
            <button class="login-page__submit-button" type="submit">Войти</button>
        </div>
    </div>

    <div class="login-page__register-container">
        <span class="login-page__register-container_span">Еще нет аккаунта HMEats? <a href="" class="login-page__register-container_register">Зарегистрируйся!</a></span>
    </div>
</form>
</html>