.register-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: Raleway, sans-serif;
}

.login-page__logo-container {
    display:flex;
    justify-content: center;
}

.login-page__logo {
    width: 40%;
    border-radius: 50%;
}

.login-page__login-container {
    display: flex;
    justify-content: center;
}

.login-page__login_welcome-back-text {
    font-weight: 300;
}

.login-page__login-form {
    flex-flow: column nowrap;
    max-width: 600px;
}

.login-page__login_input {
    padding: 12px 20px;
    margin: 8px 0;
}

.login-page__submit-button {
    background-color: #3E9920;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-page__submit-button:hover {
    opacity: 0.8;
}

.login-page__register-container_span {
    float: right;
    padding-top: 16px;
}

.login-page__register-container {
    display: flex;
    justify-content: center;
}

.login-page__register-container_register {
    color: #3E9920;
}