<div class="profile-page__wrapper">
    <div class="profile-page__input-box">
        <label class="profile-page__input-label">
            Имя
            <input value="{{user.name}}" required class="input profile-page__input">
        </label>
        <label class="profile-page__input-label">
            Номер телефона
            <input value="{{user.phone}}" required class="input profile-page__input">
        </label>
        <label class="profile-page__input-label">
            Электронная почта
            <input value="{{user.email}}" required class="input profile-page__input">
        </label>
        <label class="profile-page__input-label" for="localdate">
            Дата рождения:
            <input type="date" id="localdate" required class="input profile-page__input" name="date"/>
        </label>
        <label class="profile-page__input-label">
            Изменение пароля. Введите новый пароль
            <input value="" type="password" required class="input profile-page__input">
        </label>
        <label class="profile-page__input-label">
            Повторите пароль
            <input value="" type="password" required class="input profile-page__input">
        </label>
        <!--                <label class="profile-page__input-label" for="localdate">-->
        <!--                    Изменить аватар:-->
        <!--                    <input type="file" id="localdate" name="date"/>-->
        <!--                </label>-->

        <button class="button button_height_b button_color_green profile-page__button">
            Сохранить изменения
        </button>
    </div>
</div>
