.profile-page__wrapper {
    width: 100%;
    background-color: var(--color-white);
    border-radius: 30px;
}


.profile-page__input-box {
    display: flex;
    flex-direction: column;
    padding: 40px 75px 40px;
}

.profile-page__input-label {
    width: 100%;
    padding-bottom: 30px;
    font-weight: 600;
    color: var(--color-gray);
}

.profile-page__input {
    margin-top: 5px;
}

.profile-page__button {
    margin-top: 40px;
    font-size: 20px;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 40px;
}

.profile-page__button_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;
}

.profile-page__button-color {
    background-color: #F6F6F6;
    margin-right: auto;
}
