 <div class="restaurant-page__dishes">
     {{#each menuBlock}}
         <div id="{{menuId}}" class="restaurant-page__menu-title">
             {{menuTitle}}
         </div>
         {{#each dishes}}
             <div class="restaurant-page__dish">
                 {{>dish this }}
             </div>
         {{/each}}
     {{/each}}
 </div>