.restaurant-page__dishes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.restaurant-page__dish-media {
    width: 100%;
}

@media (min-width: 1040px) and (max-width: 1400px) {
    .restaurant-page__dish-media {
        width: calc(100% / 2 - (45px / 2));
        flex-grow: 0;
    }
}

@media (min-width: 0px) and (max-width: 1040px) {
    .restaurant-page__dish-media {
        width: calc(100% - 10px);
        flex-grow: 0;
    }
}

@media (min-width: 320px) and (max-width: 1600px) {
    .restaurant-page__dish-media {
        transition: all 0.2s ease;
    }
}

@media (min-width: 1400px) {
    .restaurant-page__dish-media {
        width: calc(100% / 3 - (33px * 2 / 3));
        flex-grow: 0;
    }
}

.restaurant-page__dish {
    margin-right: 10px;
    margin-bottom: 10px;
}

.restaurant-page__menu-cart-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.restaurant-page__menu {
    width: 100%;
}

.restaurant-page__cart {
    width: 35%;
    margin: 20px;
}

@media (min-width: 0px) and (max-width: 860px) {
    .restaurant-page__cart {
        width: 0;
        margin: 0;
        visibility: hidden;
    }
}

.restaurant-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-page__menu-title {
    font-size: 36px;
    font-weight: var(--font_bold);
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}