<div class="restaurant-page__menu-cart-wrapper">
    <div class="restaurant-page__menu">
        <div class="restaurant-underheader">
            <div class="restaurant-underheader__tags">
                {{#each tags}}
                    <div class="restaurant-underheader__tag">
                        {{ name }}
                    </div>
                {{/each}}
            </div>
            <div class="restaurant-underheader__address">
                {{ addrs }}
            </div>
        </div>
    <div class="restaurant-page__dishes-list">
<!--    space for dishes list   -->
    </div>
    </div>
    <div class="restaurant-page__cart">
<!--   space for cart     -->
    </div>
</div>
