.dish-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overflow-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    padding-top: 100px;
    padding-bottom: 100px;
}

.dish-popup {
    border-radius: 30px;

    background-color: var(--color-white);

    margin: auto;
    width: 700px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);
}

.dish-popup__main-info {
    padding: 16px;
    border-bottom: 1px solid #e2e2e2;
}

.dish-popup__close-button-wrapper {
    width: 100%;
    display: flex;
}

.dish-popup__close-button {
    align-items: center;
    margin-left: auto;
    height: 24px;
    padding: 0;
}

.dish-popup__image-wrapper {
    width: 100%;
    display: flex;
}

.dish-popup__image {
    width: 200px;
    height: 200px;

    object-fit: cover;

    margin-right: auto;
    margin-left: auto;
}

.dish-popup__dish-title {
    display: flex;
    font-size: 30px;
    font-weight: var(--font_bold);
}

.dish-popup__dish-setting {
    padding: 16px;
}

.dish-popup__description {
    font-weight: var(--font_thin);
    font-size: 18px;
    padding-bottom: 16px;
}

.dish-popup__checkboxes-wrapper-title {
    font-size: 22px;
    font-weight: var(--font_bold);
}

.dish-popup__checkboxes-wrapper {
    margin-top: 10px;

    width: 100%;

    display: flex;
    flex-direction: column;

    padding-bottom: 16px;
}

.dish-popup__checkbox-row {
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.dish-popup__radio-row {
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.dish-popup__checkbox-title {
    font-size: 18px;
    font-weight: var(--font_thin);
}

.dish-popup__add-item-cost {
    display: flex;
    margin-left: auto;
    font-size: 18px;
}

.container {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    margin-right: 15px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 16px;
    width: 0;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;

    border-radius: 15px;
    border: 1px solid gray;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dish-popup__selector-buy-button-box {
    display: flex;
    flex-direction: row;

    padding: 25px 16px 25px 16px;
    border-top: solid 1px #e2e2e2;
}

.dish-popup__num-selector-box {
    display: flex;
    align-items: center;
}

.dish-popup__number {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.dish-popup__selector-button {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    padding-left: 0;
    padding-right: 0;
    background-color: var(--color-light-gray);
}

.dish-popup__buy-button {
    display: flex;
    align-items: center;
    margin-left: auto;

    font-size: 18px;
}

.dish-popup__cost {
    display: flex;
    margin-left: 40px;
}