<div class="continue-popup-wrapper">
    <div class="continue-popup">
        <div class="continue-popup__title">
            Оформить заказ из ресторана {{new.name}}
        </div>
        <div class="continue-popup__info">
            Все ранее добавленые блюда из ресторана {{old.name}} будут удалены из корзины
        </div>
        <div class="continue-popup__button-wrapper">
            <div class="button button_color_green continue-popup__button continue-popup-cancel">Отмена</div>
            <div class="button button_color_black continue-popup__button continue-popup__button-m continue-popup-continue">Продолжить</div>
        </div>
    </div>
</div>