<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../main.scss"/>
    <title>ContinuePopup</title>
</head>
<body>
    <div class="continue-popup-wrapper">
        <div class="continue-popup">
            <div class="continue-popup__title">
                Оформить заказ из ресторана Макдоналдс
            </div>
            <div class="continue-popup__info">
                Все ранее добавленые блюда из ресторана Стардогс будут удалены из корзины
            </div>
            <div class="continue-popup__button-wrapper">
                <div class="button button_color_green continue-popup__button">Отмена</div>
                <div class="button button_color_black continue-popup__button continue-popup__button-m">Продолжить</div>
            </div>
        </div>
    </div>
</body>
</html>