<div class="base-restaurant-profile-page__content">
    <div class="base-restaurant-profile-page__title font_h1">{{pageTitle}}</div>
    <div class="base-restaurant-profile-page__left-box">
        {{{content}}}
    </div>
    <div class="base-restaurant-profile-page__right-box">
        {{{rightMenu}}}
    </div>
</div>