<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="userLoginPage.css" rel="stylesheet">
</head>
<body>
<form action="" class="login-page">

    <div class="login-page__logo-container">
        <img src="../../images/mbpNZnKhDTU.jpg" class="login-page__logo" alt="">
    </div>

    <div class="login-page__login-container">
    <div class="login-page__login-form">
        <h1 class="login-page__login_welcome-back-text">С возвращением!</h1>
            <input type="text" placeholder="Электронная почта или номер телефона" name="uname" required class="login-input login-page__login_input">
            <input type="password" placeholder="Пароль" name="psw" required class="password-input login-page__login_input">
        <button class="login-page__submit-button" type="submit">Войти</button>
    </div>
</div>

    <div class="login-page__register-container">
        <span class="login-page__register-container_span">Еще нет аккаунта? <a href="" class="login-page__register-container_register">Зарегистрируйся!</a></span>
    </div>
</form>
</body>
</html>