:root {
    --color-primary: #F6F6F6;
    --color-green: #3E9920;
    --color-black: black;
    --color-background-black: rgba(0, 0, 0, 0.71);
    --color-white: white;
    --color-gray: #afafaf;
    --color-light-gray: #eeeeee;
}
