:root {
    --orderSummaryBorderRadius: 32px;
    --orderSummaryTitleFontSize: 30px;
    --orderSummaryOuterPadding: 32px;
    --orderSummaryInnerPadding: 16px;

    --orderSummaryMarginLeft: 100px; // margin left from main content block
    --orderSummaryWidth: 65%;
    --orderSummaryStickyMarginTop: 75px;
}

.cart-order-summary {

    margin-left: var(--orderSummaryMarginLeft);
    background-color: var(--contentBlockBackgroundColor);
    color: var(--contentBlockColor);
    width: var(--orderSummaryWidth);
    border-radius: var(--modalRadius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);

    &-sticky {
        position: fixed;
        top: 0;
        margin-top: var(--orderSummaryStickyMarginTop);
    }

    @media (min-width: 0px) and (max-width: 860px) {
        &-sticky {
            position: relative;
        }

        & {
            width: 100%;
            margin-top: 50px;
            margin-left: 0;
            top: 0;
        }
    }

    &__payment-title {
        font-size: var(--orderSummaryTitleFontSize);
        font-weight: var(--font_bold);
    }

    &__payment-box {
        display: flex;
        flex-direction: column;

        padding: var(--orderSummaryOuterPadding) var(--orderSummaryOuterPadding) var(--orderSummaryInnerPadding);

        border-bottom: solid 1px #e2e2e2;
    }

    &__radio-buttons-wrapper {
        margin-top: 15px;
        margin-bottom: 10px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }

    &__radio-button-box {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    &__summary {
        padding: var(--orderSummaryInnerPadding) var(--orderSummaryOuterPadding) var(--orderSummaryOuterPadding);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__summary-text-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    &__summary-title {
        font-size: var(--orderSummaryTitleFontSize);
        font-weight: var(--font_bold);
        margin-right: auto;
    }

    &__summary-cost {
        margin-left: auto;
        font-size: var(--orderSummaryTitleFontSize);
        font-weight: var(--font_bold);
    }

    &__pay-button {
        margin-top: 30px;
        padding: 0;
        width: 100%;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        font-weight: var(--font_bold);
    }

    &__radio-button-box input[type=radio] {
        display: none;
    }

    &__radio-button-box label {
        display: flex;
        outline: none;
        cursor: pointer;
        border: 1px solid #999;
        border-radius: 10px;
        user-select: none;
    }

    &__radio-button-box input[type=radio]:checked + label {
        color: white;
        background-color: var(--color-black);
    }

    &__radio-button-box input[type=radio]:checked + label svg path {
        fill: white;
    }

    &__radio-button-box label:hover {
        background-color: var(--color-light-gray);
    }

    &__radio-button-box input[type=radio]:disabled + label {
        background: slategray;
        color: #666;
    }

    &__radio-button {
        height: 35px;
        display: flex;
        align-items: center;
    }

    &__radio-button-icon {
        margin-right: 5px;
    }

    &__input {
        height: 35px;
        font-weight: var(--font_thin);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    &__promocode-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }
}
