.cart-order-delivery {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: var(--color-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);
}

.cart-order-delivery__wrapper {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.cart-order-delivery__title {
    margin-bottom: 32px;
    font-size: 26px;
    font-weight: var(--font_bold);
}

.cart-order-delivery__undertitle {
    font-size: 26px;
    font-weight: var(--font_medium);
    margin-bottom: 5px;
}

.cart-order-delivery__time-title {
    font-size: 26px;
    font-weight: var(--font_medium);
}

.cart-order-delivery__input-row {
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cart-order-delivery__input-mw {
    max-width: 200px;
}

.cart-order-delivery__input_sq {
    border-radius: 0;
    background-color: var(--color-light-gray);
}

.cart-order-delivery__input {
    font-size: 16px;
    font-weight: var(--font_medium);
}

.cart-order-delivery__input_margin-left {
    /*margin-left: 20px;*/
}

.cart-order {
    margin-top: 50px;
}