<div class="cart-order-summary">
        <div class="cart-order-summary__payment-box">
            <div class="cart-order-summary__payment-title">
                Способ оплаты
            </div>
            <div class="cart-order-summary__radio-buttons-wrapper">
                <div class="cart-order-summary__radio-button-box">
                    <input id="radio-4" type="radio" name="radio" value="4">
                    <label class="button cart-order-summary__radio-button" for="radio-4">
                        <svg class="cart-order-summary__radio-button-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.4999 12.0001C15.4999 11.1717 16.1715 10.5001 16.9999 10.5001C17.8284 10.5001 18.4999 11.1717 18.4999 12.0001C18.4999 12.8285 17.8284 13.5001 16.9999 13.5001C16.1715 13.5001 15.4999 12.8285 15.4999 12.0001Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.4413 6.67414C19.7835 5.12848 18.3301 4.01735 16.6006 3.83535L15.9487 3.76676C12.6564 3.42031 9.33569 3.44315 6.04844 3.83487L5.6165 3.88634C3.94771 4.0852 2.62546 5.38901 2.40318 7.05485C1.96522 10.3372 1.96522 13.6631 2.40318 16.9454C2.62546 18.6113 3.94771 19.9151 5.61651 20.1139L6.04845 20.1654C9.33569 20.5571 12.6564 20.58 15.9487 20.2335L16.6006 20.1649C18.3301 19.9829 19.7835 18.8718 20.4413 17.3261C21.4805 17.0167 22.2737 16.1157 22.4039 15.0025C22.6372 13.0077 22.6372 10.9925 22.4039 8.99776C22.2737 7.88454 21.4805 6.98356 20.4413 6.67414ZM15.7918 5.25852C12.6107 4.92377 9.40212 4.94585 6.22593 5.32433L5.79399 5.37581C4.80518 5.49364 4.02171 6.26618 3.89 7.25324C3.46961 10.4039 3.46961 13.5964 3.89 16.747C4.02171 17.7341 4.80518 18.5066 5.794 18.6245L6.22594 18.6759C9.40212 19.0544 12.6107 19.0765 15.7918 18.7417L16.4436 18.6732C17.2942 18.5836 18.0468 18.1644 18.5683 17.5421C17.0601 17.63 15.5319 17.5907 14.0417 17.4242C12.7723 17.2823 11.7457 16.2828 11.596 15.0025C11.3627 13.0077 11.3627 10.9925 11.596 8.99776C11.7457 7.7175 12.7723 6.71796 14.0417 6.57609C15.5319 6.40954 17.0601 6.37024 18.5683 6.45819C18.0467 5.83587 17.2942 5.41662 16.4436 5.32712L15.7918 5.25852ZM19.2773 8.01483C19.2779 8.01867 19.2785 8.02251 19.2791 8.02635L19.2852 8.06524L19.4838 8.03439C19.5866 8.04456 19.6892 8.05537 19.7916 8.06681C20.379 8.13246 20.8468 8.59661 20.9141 9.17201C21.1338 11.051 21.1338 12.9492 20.9141 14.8283C20.8468 15.4037 20.379 15.8678 19.7916 15.9335C19.6892 15.9449 19.5866 15.9557 19.4838 15.9659L19.2852 15.935L19.2791 15.9739C19.2785 15.9778 19.2779 15.9816 19.2773 15.9854C17.5987 16.1373 15.8771 16.12 14.2083 15.9335C13.6209 15.8678 13.1531 15.4037 13.0858 14.8283C12.8661 12.9492 12.8661 11.051 13.0858 9.17201C13.1531 8.59661 13.6209 8.13246 14.2083 8.06681C15.8771 7.8803 17.5987 7.86297 19.2773 8.01483Z" fill="black"/>
                        </svg>

                        Наличными</label>
                </div>
                <div class="cart-order-summary__radio-button-box">
                    <input id="radio-5" type="radio" name="radio" value="5">
                    <label class="button cart-order-summary__radio-button" for="radio-5">
                        <svg class="cart-order-summary__radio-button-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1838 4.91224L12.0001 4.74976L4.81639 4.91224C3.48523 4.94235 2.35813 5.90297 2.11744 7.21254C1.53572 10.3776 1.53572 13.6223 2.11744 16.7874C2.35813 18.0969 3.48523 19.0575 4.81639 19.0876L12.0001 19.2501L19.1838 19.0876C20.515 19.0575 21.6421 18.0969 21.8828 16.7874C22.4645 13.6223 22.4645 10.3776 21.8828 7.21254C21.6421 5.90297 20.515 4.94235 19.1838 4.91224ZM4.85031 6.41186L12.0001 6.25014L19.1499 6.41186C19.7702 6.42589 20.2953 6.87349 20.4075 7.48369C20.5608 8.31767 20.6712 9.15752 20.7389 9.99994H3.26133C3.32899 9.15752 3.43945 8.31767 3.59273 7.48369C3.70488 6.87349 4.23006 6.42589 4.85031 6.41186ZM3.18115 11.9999C3.18115 13.5116 3.31835 15.0233 3.59273 16.5162C3.70488 17.1264 4.23006 17.574 4.85031 17.588L12.0001 17.7498L19.1499 17.588C19.7702 17.574 20.2953 17.1264 20.4075 16.5162C20.6819 15.0233 20.8191 13.5116 20.8191 11.9999H3.18115Z" fill="black"/>
                        </svg>

                        Картой</label>
                </div>
            </div>
        </div>

        <div class="cart-order-summary__summary">
            <div class="cart-order-summary__summary-text-box">
                <div class="cart-order-summary__summary-title">
                    Итого
                </div>
                <div class="cart-order-summary__summary-cost"> {{sumCost}} ₽</div>
            </div>
            <div class="button button_shape_rounded cart-order-summary__pay-button button_color_black">Сделать заказ</div>
        </div>
</div>