<form action="" class="login-page">
    <div class="register-page__logo-container">
        <img src="../../images/Hot%20Mexicans%20Eats-logos_transparent.png" class="register-page__logo" alt="">
    </div>
    <div class="register-page__register-container">
        <div class="register-page__register-form">
            <h1 class="register-page__register_welcome-back-text">Хочешь заказать еду? <br> Присоединяйся!</h1>
            <input placeholder="Электронная почта" required class="input register-page__login_input">
            <input placeholder="Номер телефона" required class="input register-page__login_input">
            <input type="password" placeholder="Пароль"  required class="input register-page__login_input">
            <input type="password" placeholder="Повторение пароля"  required class="input register-page__login_input">
            <button class="register-page__submit-button" type="submit">Зарегистрироваться</button>
        </div>
    </div>

    <div class="register-page__register-container">
        <span class="register-page__register-container_span">Уже пользовались HMEats? <a href="" class="register-page__register-container_register">Войти!</a></span>
    </div>
</form>