<form action="" class="login-page">
    <div class="register-page__logo-container">
        <img href="/" src="../../assets/images/Hot%20Mexicans%20Eats-logos_transparent.png" class="register-page__logo" alt="">
    </div>
    <div class="register-page__register-container">
        <div class="register-page__register-form">
            <h1 class="register-page__register_welcome-back-text">Хочешь заказать еду? <br> Присоединяйся!</h1>
            <input id="name" placeholder="Имя" required class="input register-page__login_input">
            <div id="name_error" class="error-label"></div>
            <input id="email" placeholder="Электронная почта" required class="input register-page__login_input">
            <div id="email_error" class="error-label"></div>
            <input id="phone_number" placeholder="Номер телефона" required class="input register-page__login_input">
            <div id="phone_error" class="error-label"></div>
            <input id="password" type="password" placeholder="Пароль"  required class="input register-page__login_input">
            <input id="password_repeat" type="password" placeholder="Повторение пароля"  required class="input register-page__login_input">
            <div id="password_error" class="error-label"></div>
            <button id="form_submit" class="register-page__submit-button" type="submit">Зарегистрироваться</button>
        </div>
    </div>

    <div class="register-page__register-container">
        <span class="register-page__register-container_span">Уже пользовались HMEats? <a href="login" class="register-page__register-container_register">Войти!</a></span>
    </div>
</form>