:root {
    --hamburgerWidth: 300px;
    --hamburgerPadding: 20px;
    --hamburgerButtonsVertMargin: 5px;
    --hamburgerProfileImgSize: 50px;
    --hamburgerProfileTextBoxPaddingLeft: 10px; // padding between image and text

    --navbarHeight: 96px;
    --logoMarginLeft: 30px;
    --navbarButtonSpacer: 30px; // margin between buttons and inputs in navbar

    --navbarProfileTextBoxFontSize: 18px;
    --navbarProfileProfileLinkFontSize: 13px;

    --navbarSearchInputMinWidth: 100px;
    --navbarSearchInputMaxWidth: 442px;
}

.navbar {
    width: 100%;
    height: var(--navbarHeight);

    display: flex;
    align-items: center;

    background-color: white;

    &__content {
        width: 100vw;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: var(--contentPadding);
        padding-right: var(--contentPadding);
    }

    &__logo-wrapper {
        margin-left: var(--logoMarginLeft)
    }

    &__logo {
        cursor: pointer;
    }

    &__left-box {
        display: flex;
        align-items: center;
    }

    &__right-box {
        width: 100%;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__right-box-spacer {
        margin-left: var(--navbarButtonSpacer);
    }

    &__button-cart-number-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-white);
        color: var(--color-black);
        margin-left: 5px;
        padding: 1px 3px 1px 3px;
        border-radius: 5px;
    }

    &__button-cart-number-wrapper {
        display:inline-block;
        font-size: 15px;
    }

    &__search-label {
        min-width: var(--navbarSearchInputMinWidth);
        max-width: var(--navbarSearchInputMaxWidth);
        width: 100%;
        margin-left: 20px;
    }

    &__search-input {
        font-weight: var(--font_bold);
        margin: 0 !important;
    }

    &__search-icon {
        margin: 0 5px 0 0  !important;;
    }
}

.hamburger {
    &-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    width: var(--hamburgerWidth);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;

    padding: var(--hamburgerPadding);
    box-sizing: border-box;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);
    background-color: white;

    animation-name: animateleft;
    animation-duration: 0.4s;

    &__button {
        margin-top: var(--hamburgerButtonsVertMargin);
        margin-bottom: var(--hamburgerButtonsVertMargin);
    }

    &__gray-button {
        color: rgba(0, 0, 0, 0.6);
    }

    &__button_align-text_center {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    &__line {
        border: none;
        background-color: var(--color-primary);
        width: 100%;
        height: 2px;
    }

    &__profile {
        padding-left: var(--buttonPaddingHor);
        height: var(--hamburgerProfileImgSize);
        display: flex;
        align-items: center;
    }

    &__profile-img {
        position: absolute;
        overflow: hidden;
        background-size: cover;
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: calc(var(--hamburgerProfileImgSize) / 2);
    }

    &__profile-img-box {
        width: var(--hamburgerProfileImgSize);
        height: var(--hamburgerProfileImgSize);
        position: relative;
    }

    &__profile-text-box {
        padding-left: var(--hamburgerProfileTextBoxPaddingLeft);
        display: block;
        font-size: var(--navbarProfileTextBoxFontSize);
        font-weight: normal;
    }

    &__profile-link {
        color: var(--color-green);
        font-size: var(--navbarProfileProfileLinkFontSize);
        text-decoration: none;
    }
}

.map-popup__link {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    box-sizing: border-box;
}

@keyframes animateleft {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}