<div class="navbar-wrapper">
    <div class="navbar">
        {{#if user.auth}}
            <div class="nav-profile">
                <div class="nav-profile__img-box">
                    <img class="nav-profile__img" src="../../assets/images/profile.png" alt="Profile image"/>
                </div>
                <div class="nav-profile__text-box">
                    {{user.name}}<br>
                    <a class="nav-profile__link" href="profile">Просмотреть аккаунт</a>
                </div>
            </div>

            <button class="button navbar__button button_color_white button_hover_disabled">
                <svg class="button__icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.57487 3.42572C7.24095 2.02537 4.38656 1.79666 1.85944 2.80751C1.49136 2.95474 1.25 3.31123 1.25 3.70767V13.4234C1.25 14.0742 1.9073 14.5192 2.51156 14.2775C4.58101 13.4497 6.91846 13.637 8.8297 14.7838L9.77576 15.3514C9.84791 15.3947 9.92509 15.4136 10 15.4123C10.0749 15.4136 10.1521 15.3947 10.2242 15.3514L11.1703 14.7838C13.0815 13.637 15.419 13.4497 17.4884 14.2775C18.0927 14.5192 18.75 14.0742 18.75 13.4234V3.70767C18.75 3.31123 18.5086 2.95474 18.1406 2.80751C15.6134 1.79666 12.759 2.02537 10.4251 3.42572L10 3.6808L9.57487 3.42572ZM10.625 5.41671C10.625 5.07153 10.3452 4.79171 10 4.79171C9.65482 4.79171 9.375 5.07153 9.375 5.41671V13.3334C9.375 13.6786 9.65482 13.9584 10 13.9584C10.3452 13.9584 10.625 13.6786 10.625 13.3334V5.41671Z" fill="black"/>
                    <path d="M2.2707 15.8686C3.95725 14.8848 6.04275 14.8848 7.7293 15.8686L8.63535 16.3971C9.47862 16.889 10.5214 16.889 11.3647 16.3971L12.2707 15.8686C13.9572 14.8848 16.0428 14.8848 17.7293 15.8686L17.8149 15.9185C18.1131 16.0924 18.2138 16.4751 18.0399 16.7733C17.8659 17.0715 17.4832 17.1722 17.1851 16.9982L17.0995 16.9483C15.8021 16.1915 14.1979 16.1915 12.9005 16.9483L11.9945 17.4768C10.762 18.1958 9.23799 18.1958 8.00551 17.4768L7.09946 16.9483C5.80212 16.1915 4.19788 16.1915 2.90054 16.9483L2.81492 16.9982C2.51676 17.1722 2.13406 17.0715 1.96014 16.7733C1.78621 16.4751 1.88692 16.0924 2.18508 15.9185L2.2707 15.8686Z" fill="black"/>
                </svg>
                История заказов
            </button>
            <button class="button navbar__button button_color_white button_hover_disabled">
                <svg class="button__icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00016 4.375C4.68278 4.375 2.7085 6.10775 2.7085 8.35816C2.7085 9.91062 3.43545 11.2177 4.3989 12.3004C5.35905 13.3793 6.59778 14.285 7.71764 15.043L9.64982 16.3509C9.86142 16.4941 10.1389 16.4941 10.3505 16.3509L12.2827 15.043C13.4025 14.285 14.6413 13.3793 15.6014 12.3004C16.5649 11.2177 17.2918 9.91062 17.2918 8.35816C17.2918 6.10775 15.3175 4.375 13.0002 4.375C11.8056 4.375 10.7545 4.93512 10.0002 5.65986C9.24586 4.93512 8.19472 4.375 7.00016 4.375Z" fill="black"/>
                </svg>

                Любимое
            </button>
            <button class="button navbar__button button_color_white button_hover_disabled">
                <svg class="button__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.506 3.73882C14.7545 3.9435 14.9613 4.19734 15.1116 4.48634C15.1592 4.57779 15.1235 4.68851 15.0359 4.74276L9.81427 7.9752C8.69438 8.66847 7.28228 8.68301 6.14835 8.01296L0.89183 4.90683C0.806905 4.85665 0.767923 4.75335 0.806196 4.66243C0.958369 4.30095 1.19552 3.98574 1.49221 3.7407L1.49192 3.73822L1.50214 3.73254C1.72168 3.55318 1.97338 3.41205 2.24704 3.3187L5.67194 1.41598C7.11913 0.61199 8.87883 0.611989 10.326 1.41598L13.7469 3.31647C14.0254 3.41055 14.2812 3.55405 14.5038 3.73695L14.506 3.73882Z" fill="black"/>
                    <path d="M0.490963 6.46168C0.506113 6.31148 0.671949 6.22883 0.801919 6.30563L5.51244 9.08912C7.04658 9.99566 8.95707 9.97598 10.4722 9.03803L15.176 6.12615C15.3054 6.04607 15.474 6.12719 15.4904 6.27846C15.7238 8.43468 15.679 10.6134 15.356 12.761C15.1906 13.8611 14.2928 14.7045 13.1845 14.8008L11.926 14.9102C9.31375 15.1373 6.68677 15.1373 4.07457 14.9102L2.81605 14.8008C1.70776 14.7045 0.809919 13.8611 0.644491 12.761C0.330693 10.6742 0.279517 8.55804 0.490963 6.46168Z" fill="black"/>
                </svg>

                Кошельки
            </button>
            <button class="button navbar__button button_color_white navbar__gray-button button_hover_disabled">Выйти</button>
        {{else}}
            <button href="login" class="button navbar__button_align-text_center navbar__button button_color_black">Войти</button>
        {{/if}}
        <hr class="navbar__line">
        <button class="button navbar__button button_color_white button_hover_disabled">Войти как ресторан</button>
        <button class="button navbar__button button_color_white button_hover_disabled">Войти как доставщик</button>
    </div>
</div>