:root {
    --restaurant-block_width_primary: 315px;
    --restaurant-block_height_primary: 188px;

    --restaurant-block__img-widht: 315px;
    --restaurant-block__img-height: 125px;

    --restaurant-block__title_font-size: 20px;
    --restaurant-block__title_font-weight: 800;

    --restaurant-block__delivery-cost-font-size: 13px;
    --restaurant-block__delivery-cost-font-weight: 500;

    --restaurant-block__delivery-time-font-size: 13px;
    --restaurant-block__delivery-time-font-weight: 300;

    --restaurant-block__text_cut: 250px;
}

.restaurant-block {
    text-decoration: none;
    width: var(--restaurant-block_width_primary);
    height: var(--restaurant-block_height_primary);
}

.restaurant-block:visited {
    color: black;
}

.restaurant-block__img-box {
    position: relative;
    overflow: hidden;
    width: var(--restaurant-block__img-widht);
    height: var(--restaurant-block__img-height);
}

.restaurant-block__img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--restaurant-block__img-widht);
    height: var(--restaurant-block__img-height);
    object-fit: cover;
}

.restaurant-block__information {
    display: flex;
    align-items: center;
}

.restaurant-block__text-box {
    width: var(--restaurant-block__text_cut);
    padding-left: 10px;

    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.restaurant-block__delivery-info {
    padding-top: 7px;
    display: flex;
    align-items: center;
}

.restaurant-block__restaurant-title {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: var(--restaurant-block__title_font-weight);
    font-size: var(--restaurant-block__title_font-size);
    line-height: 23px;
    letter-spacing: 0.05em;
}

.information__delivery-cost {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: var(--restaurant-block__delivery-cost-font-weight);
    font-size: var(--restaurant-block__delivery-cost-font-size);
    line-height: 13px;
    /* identical to box height */
    letter-spacing: 0.05em;
}

.information__delivery-time {
    font-weight: var(--restaurant-block__delivery-time-font-weight);
    font-size: var(--restaurant-block__delivery-time-font-size);
    color: rgba(0, 0, 0, 0.7)
}

.restaurant-block__rating {
    width: 26px;
    height: 26px;
    background: #EEEEEE;
    border-radius: 13px;
    margin-right: 5px;

    align-items: center;
    margin-left: auto;
}

.rating__text {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}