:root {
    --restaurant-block_width_primary: 315px;
    --restaurant-block_height_primary: 188px;

    --restaurant-block__img-widht: 315px;
    --restaurant-block__img-height: 125px;

    --restaurant-block__title_font-size: 25px;
    --restaurant-block__title_font-weight: 800;

    --restaurant-block__delivery-cost-font-size: 13px;
    --restaurant-block__delivery-cost-font-weight: 500;

    --restaurant-block__delivery-time-font-size: 13px;
    --restaurant-block__delivery-time-font-weight: 300;

    --restaurant-block__text_cut: 250px;
}

.restaurant-block {
    text-decoration: none;
    color: inherit;

    &__img-box {
        margin: auto;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: var(--restaurant-block__img-height);
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        height: var(--restaurant-block__img-height);
        object-fit: cover;
    }

    &__information {
        display: flex;
        align-items: center;
        padding: 16px;
    }

    &__text-box {
        width: var(--restaurant-block__text_cut);

        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    &__delivery-info {
        padding-top: 7px;
        display: flex;
        align-items: center;
    }

    &__restaurant-title {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        font-weight: var(--restaurant-block__title_font-weight);
        font-size: var(--restaurant-block__title_font-size);
    }

    &__rating {
        width: 26px;
        height: 26px;
        background: #EEEEEE;
        border-radius: 13px;
        margin-right: 5px;

        align-items: center;
        margin-left: auto;
    }
}

.information__delivery-cost {
    font-weight: var(--restaurant-block__delivery-cost-font-weight);
    font-size: var(--restaurant-block__delivery-cost-font-size);
    letter-spacing: 0.05em;
}

.information__delivery-time {
    font-weight: var(--restaurant-block__delivery-time-font-weight);
    font-size: var(--restaurant-block__delivery-time-font-size);
    color: rgba(0, 0, 0, 0.7)
}

.rating__text {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}