<form id= "form" action="submit" class="login-page">
    <div class="login-page__logo-container">
        <a href="/">
            <img href="/" src="/static/img/logo1.svg" height="200" class="login-page__logo" alt="">
        </a>
    </div>
    <div class="login-page__login-container">
        <div class="login-page__login-form">
            <h1 class="login-page__login_welcome-back-text">С возвращением!</h1>
            <input id="login" placeholder="Электронная почта или номер телефона" required class="input input_border login-page__login_input">
            <input id="password" type="password" placeholder="Пароль"  required class="input input_border login-page__login_input">
            <div class="error-label" id="error_label"></div>
            <button id="form_submit" class="login-page__submit-button" type="submit">Войти</button>
        </div>
    </div>

    <div class="login-page__register-container">
        <span class="login-page__register-container_span">Еще нет аккаунта HMEats? <a href="signup" class="login-page__register-container_register">Зарегистрируйся!</a></span>
    </div>
</form>