<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="navProfile.css"/>
    <link rel="stylesheet" href="../button/button.css"/>
    <title>ProfilePopUpPart</title>
</head>
<body>
    <div class="nav-profile">
        <div class="nav-profile__img-box">
            <img class="nav-profile__img" src="../../assets/profile.png" alt="Profile image"/>
        </div>
        <div class="nav-profile__text-box">
            Максим<br>
            <a class="nav-profile__link" href="#">Просмотреть аккаунт</a>
        </div>
    </div>
</body>
</html>