<div class="footer">
    <div class="footer__upper-footer">
        <div class="footer__image">
            <img class="footer__logo" src="../../../dist/static/img/logoWhite1.svg" height="120" alt="">
        </div>
        <div class="footer__navigation">
            <ul class="footer__navigation-ul">
                <li><a href="" class="footer__help">Помощь</a></li>
                <li><a href="" class="footer__help">Войти для доставки</a></li>
                <li><a href="" class="footer__help">Рестораны рядом со мной</a></li>
                <li><a href="" class="footer__help">Контакты</a></li>
                <li><a href="" class="footer__help">HMEats для ресторанов</a></li>
                <li><a href="" class="footer__help">HMEats для курьеров</a></li>
            </ul>
        </div>
    </div>
    <hr class="footer__line">
    <div class="footer__lower-footer">
        <h3 class="footer__title">© 2021 HOT TECHNOLOGIES INC.</h3>
    </div>
</div>