<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="footer.css" rel="stylesheet">
</head>

<footer>
    <div class="footer">
        <div class="footer__upper-footer">
            <div class="footer__image">
                <img src="../../assets/images/Fx9UOP_UU4k.jpg" alt="">
            </div>
            <div class="footer__navigation">
                <ul class="footer__navigation-ul">
                    <li><a href="" class="footer__help">Помощь</a></li>
                    <li><a href="" class="footer__help">Войти для доставки</a></li>
                    <li><a href="" class="footer__help">Рестораны рядом со мной</a></li>
                    <li><a href="" class="footer__help">Контакты</a></li>
                    <li><a href="" class="footer__help">HMEats для ресторанов</a></li>
                    <li><a href="" class="footer__help">HMEats для курьеров</a></li>
                </ul>
            </div>
        </div>
        <hr class="footer__line">
        <div class="footer__lower-footer">
            <h3 class="footer__title">© 2021 HOT TECHNOLOGIES INC.</h3>
        </div>
    </div>
</footer>
</html>