<div class="star-wrapper">
    <div class="font-body star-wrapper__text"> Ваша оценка:</div>
    {{#each stars}}
        <div class="star" id="{{id}}">
            {{#if checked}}
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.8647 2.99616C12.4794 2.33201 11.5203 2.33201 11.1349 2.99616L8.42083 7.67347C8.23045 8.00155 7.90141 8.22544 7.52634 8.28209L2.44003 9.05032C1.58575 9.17935 1.28609 10.258 1.95139 10.8092L5.74048 13.9484C6.09123 14.239 6.25615 14.6973 6.17094 15.1448L5.17978 20.3499C5.02309 21.1727 5.88688 21.812 6.62803 21.4218L11.4174 18.9C11.782 18.708 12.2177 18.708 12.5822 18.9L17.3716 21.4218C18.1128 21.812 18.9765 21.1727 18.8199 20.3499L17.8287 15.1448C17.7435 14.6973 17.9084 14.239 18.2591 13.9484L22.0482 10.8092C22.7135 10.258 22.4139 9.17935 21.5596 9.05032L16.4733 8.28209C16.0982 8.22544 15.7692 8.00155 15.5788 7.67347L12.8647 2.99616Z" fill="black"/>
                </svg>
            {{else}}
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4863 4.11413C11.1607 2.95186 12.8392 2.95187 13.5136 4.11413L15.5789 7.67349C15.7693 8.00158 16.0984 8.22547 16.4734 8.28212L19.9031 8.80012C21.3981 9.02592 21.9225 10.9135 20.7582 11.8781L18.2593 13.9484C17.9085 14.239 17.7436 14.6974 17.8288 15.1448L18.5288 18.8208C18.803 20.2607 17.2914 21.3795 15.9944 20.6966L12.5823 18.9C12.2178 18.7081 11.7821 18.7081 11.4176 18.9L8.00554 20.6966C6.70853 21.3795 5.1969 20.2607 5.4711 18.8208L6.17108 15.1448C6.25628 14.6974 6.09136 14.239 5.74062 13.9484L3.24172 11.8781C2.07744 10.9135 2.60184 9.02592 4.09683 8.80012L7.52648 8.28212C7.90154 8.22547 8.23059 8.00158 8.42097 7.67349L10.4863 4.11413ZM12.2162 4.86696C12.1198 4.70092 11.8801 4.70092 11.7837 4.86696L9.71837 8.42632C9.29954 9.14811 8.57563 9.64067 7.7505 9.76529L4.32085 10.2833C4.10728 10.3156 4.03236 10.5852 4.19869 10.723L6.69759 12.7933C7.46922 13.4326 7.83205 14.441 7.6446 15.4254L6.94462 19.1014C6.90545 19.3071 7.1214 19.4669 7.30669 19.3693L10.7187 17.5727C11.5207 17.1505 12.4792 17.1505 13.2812 17.5727L16.6932 19.3693C16.8785 19.4669 17.0945 19.3071 17.0553 19.1014L16.3553 15.4254C16.1679 14.441 16.5307 13.4326 17.3023 12.7933L19.8012 10.723C19.9675 10.5852 19.8926 10.3156 19.6791 10.2833L16.2494 9.76529C15.4243 9.64067 14.7004 9.14811 14.2815 8.42632L12.2162 4.86696Z" fill="black"/>
                </svg>
            {{/if}}
        </div>
    {{/each}}
</div>