.history-order {
    background-color: var(--color-white);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);
}

.history-order__main-info {
    padding: 40px 75px 10px;

    display: flex;
    flex-direction: row;

    border-bottom: solid 1px #e2e2e2;
}

.history-order__main-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history-order__row-margin {
    margin-bottom: 10px;
}

.history-order__restaurant-title {
    font-weight: var(--font_bold);
    font-size: 24px;
}

.history-order__date {
    font-weight: var(--font_thin);
    font-size: 15px;
}

.history-order__address {
    font-weight: var(--font_thin);
    color: gray;
    font-size: 15px;
}

.history-order__status {
    margin-top: 10px;
    font-weight: var(--font_bold);
    padding: 6px;
    font-size: 15px;
    border-radius: 8px;
    margin-right: auto;
}

.history-order__status_done {
    background-color: var(--color-green);
    color: white;
}

.history-order__status_cancel {
    background-color: red;
    color: black;
}

.history-order__image-wrapper {
    margin-left: auto;
}

.history-order__main-info-img {
    border-radius: 16px;
    object-fit: cover;
    width: 250px;
}


.history-order__info {
    padding: 20px 75px 40px;
}

.history-order__item {
    font-size: 15px;
    font-weight: var(--font_thin);

    display: flex;
    flex-direction: row;
    padding: 10px 0 10px;
}

.history-order__item-num {
    color: gray;
    margin-left: auto;
}

.history-order__item-cost {
    padding-left: 10%;
}

.history-order__delivery-title {
    color: gray;
}

.history-order__delivery-cost {
    color: gray;
    margin-left: auto;
}

.history-order__summary {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    padding: 10px 0 10px;

    font-size: 18px;
}

.history-order__summary-cost {
    margin-left: auto;
}