:root {
    --orderOuterPadding: 70px;
    --orderInnerPadding: 20px;

    --orderRestaurantTitleFontSize: 30px;
    --orderItemFontSize: 18px;
    --orderSummaryFontSize: 24px;
}

.order {
    background-color: var(--color-white);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);

    &__main-info {
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;

        border-bottom: solid 1px #e2e2e2;
    }

    &__main-info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__row-margin {
        margin-bottom: 10px;
    }

    &__restaurant-title {
        text-decoration: none;
        color: var(--color-black);
        font-weight: var(--font_bold);
        font-size: 30px;
    }

    &__date {
        font-weight: var(--font_thin);
        font-size: 15px;
    }

    &__address {
        font-weight: var(--font_thin);
        color: gray;
        font-size: 15px;
    }

    &__status {
        margin-top: 10px;
        font-weight: var(--font_bold);
        padding: 6px;
        font-size: 15px;
        border-radius: 8px;
        margin-right: auto;
    }

    &__status_done {
        background-color: var(--color-green);
        color: white;
    }

    &__status_cancel {
        background-color: red;
        color: black;
    }

    &__image-wrapper {
        margin-left: auto;
    }

    &__main-info-img {
        border-radius: 16px;
        object-fit: cover;
        width: 250px;
    }


    &__info {
        padding-top: 20px;
    }

    &__item {
        font-size: var(--orderItemFontSize);
        font-weight: var(--font_thin);

        display: flex;
        flex-direction: row;
        padding: 10px 0 10px;
    }

    &__item-num {
        color: gray;
        margin-left: auto;
    }

    &__item-cost {
        padding-left: 10%;
    }

    &__delivery-title {
        color: gray;
    }

    &__delivery-cost {
        color: gray;
        margin-left: auto;
    }

    &__summary {
        margin-top: 20px;

        display: flex;
        flex-direction: row;
        padding: 10px 0 10px;

        font-size: var(--orderSummaryFontSize);
        font-weight: var(--font_medium);
    }

    &__summary-cost {
        margin-left: auto;
    }
}