@import "./components/footer/footer.css";
@import "./components/sortBox/sortBox.css";
@import "./components/userLoginForm/userLoginForm.css";
@import "./components/userSignUpForm/userSignUpForm.css";
@import "./components/header/header.css";
@import "./components/button/button.css";
@import "./components/search-input/search-input.css";
@import "./components/restaurantBlock/restaurantBlock.css";
@import "./components/promoLine/promoLine.css";
@import "./components/promoBlock/promoBlock.css";
@import "./components/sortUnderheader/sortUnderheader.css";
@import "./pages/homePage/homePage.css";

body {
    font-family: var(--raleway-font);
}
