@import "./components/footer/footer.css";
@import "./components/sortBox/sortBox.css";
@import "./components/userLoginForm/userLoginForm.css";
@import "./components/userSignUpForm/userSignUpForm.css";
@import "./components/header/header.css";
@import "./components/button/button.css";
@import "./components/search-input/search-input.css";
@import "./components/restaurantBlock/restaurantBlock.css";
@import "./components/promoBlock/promoBlock.css";
@import "./components/sortUnderheader/sortUnderheader.css";
@import "./pages/homePage/homePage.css";
@import "./components/navbar/navbar.css";
@import "./components/navProfile/navProfile.css";
@import "views/profileView/profilePage.css";
@import "./components/input/input.css";

body {
    font-family: var(--raleway-font);
    margin: 0;
    overflow-x: hidden;

}
