@import "Components/userLoginForm/userLoginForm.scss";
@import "Components/userSignUpForm/userSignUpForm.scss";
@import "Components/restaurantBlock/restaurantBlock.scss";
@import "Components/promoBlock/promoBlock.scss";
@import "Components/input/input.scss";
@import "Components/checkbox/checkbox.scss";
@import "Components/dish/dish.scss";
@import "Components/restaurantHeader/restaurantHeader.scss";
@import "Components/dishPopup/dishPopup.scss";
@import "Components/historyOrder/historyOrder.scss";
@import "Components/cartOrder/cartOrderSummary.scss";
@import "Components/cartOrder/orderDelivery.scss";
@import "Components/continuePopup/continuePopup.scss";
@import "Components/confirmPopup/confirmPopup.scss";
@import "Components/mapPopup/mapPopup.scss";

@import "Components/variables/fonts.scss";
@import "Components/variables/colors.scss";

@import "Views/restaurantView/restaurantPage.scss";
@import "Views/baseView/page.scss";
@import "Views/profileViews/baseProfilePage.scss";
@import "Views/profileViews/profileView/profilePage.scss";
@import "Views/profileViews/historyView/historyPage.scss";
@import "Views/homeView/homePage.scss";

@import "Components/button/button.scss";
@import "Components/navbar/navbar.scss";
@import "Components/footer/footer.scss";
@import "Components/sortUnderheader/sortUnderheader.scss";
@import "Components/promoLine/promoLine.scss";
@import "Components/cart/cart.scss";
@import "Components/sortBox/sortBox.scss";
@import "Components/restaurantsList/restaurantsList.scss";
@import "Components/dishesList/dishesList.scss";
@import "Components/snackBar/snackBar.scss";

:root {
    --contentPadding: 3%;  // Hor paddings
    --contentBottomPadding: 150px;
}

body {
    font-family: var(--raleway-font);
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 1920px;
}

#app {
    min-height: 100vh;
}

.error-label {
    font-weight: var(--font_thin);
    font-size: 14px;
    margin-bottom: 10px;
    color: red;
}


.info-label {
    font-weight: var(--font_medium);
    font-size: 14px;
    color: var(--color-green);
}

a {
    text-decoration: none;
}