@import "Components/footer/footer.css";
@import "Components/sortBox/sortBox.css";
@import "Components/userLoginForm/userLoginForm.css";
@import "Components/userSignUpForm/userSignUpForm.css";
@import "Components/header/header.css";
@import "Components/button/button.css";
@import "Components/search-input/search-input.css";
@import "Components/restaurantBlock/restaurantBlock.css";
@import "Components/promoBlock/promoBlock.css";
@import "Components/sortUnderheader/sortUnderheader.css";
@import "Views/homeView/homePage.css";
@import "Components/navbar/navbar.css";
@import "Components/navProfile/navProfile.css";
@import "Views/profileViews/baseProfilePage.css";
@import "Views/profileViews/profileView/profilePage.css";
@import "Views/profileViews/historyView/historyPage.css";
@import "Components/input/input.css";
@import "Components/dish/dish.css";
@import "Components/restaurantHeader/restaurantHeader.css";
@import "Views/restaurantView/restaurantPage.css";
@import "Views/baseView/page.css";
@import "Components/dishPopup/dishPopup.css";
@import "components/historyOrder/historyOrder.css";
@import "components/cartOrder/cartOrderSummary.css";
@import "components/cartOrder/orderDelivery.css";
@import "components/cart/cart.css";
@import "components/continuePopup/continuePopup.css";
@import "components/confirmPopup/confirmPopup.css";

body {
    font-family: var(--raleway-font);
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 1920px;
}

#app {
    min-height: 100vh;
}

.error-label {
    font-weight: var(--font_thin);
    font-size: 14px;
    margin-bottom: 10px;
    color: red;
}


.info-label {
    font-weight: var(--font_medium);
    font-size: 14px;
    color: var(--color-green);
}

a {
    text-decoration: none;
}