@import "Components/userLoginForm/userLoginForm.scss";
@import "Components/userSignUpForm/userSignUpForm.scss";
@import "Components/promoBlock/promoBlock.scss";
@import "Components/dishPopup/dishPopup.scss";
@import "Components/historyOrder/historyOrder.scss";
@import "Components/cartOrder/cartOrderSummary.scss";
@import "Components/cartOrder/orderDelivery.scss";
@import "Components/mapPopup/mapPopup.scss";
@import "Components/orderProcess/orderProcess.scss";

@import "Views/restaurantView/restaurantPage.scss";
@import "Views/baseView/page.scss";
@import "Views/profileViews/baseProfilePage.scss";
@import "Views/profileViews/profileView/profilePage.scss";
@import "Views/profileViews/historyView/historyPage.scss";
@import "Views/homeView/homePage.scss";

@import "Components/navbar/navbar.scss";
@import "Components/sortUnderheader/sortUnderheader.scss";
@import "Components/promoLine/promoLine.scss";
@import "Components/cart/cart.scss";
@import "Components/restaurantsList/restaurantsList.scss";
@import "Components/snackBar/snackBar.scss";

@import "~hme-design-system/tokens/token";
@import "~hme-design-system/src/components/button/button.scss";
@import "~hme-design-system/src/forms/input/input.scss";
@import "~hme-design-system/src/forms/tickForms/tickForm.scss";
@import "~hme-design-system/src/forms/tickForms/tickFormGroup.scss";
@import "~hme-design-system/src/components/dishBlock/dishBlock.scss";
@import "~hme-design-system/src/components/restaurantBlock/restaurantBlock.scss";
@import "~hme-design-system/src/components/modal/modal.scss";
@import "~hme-design-system/src/components/modal/continueModal/continueModal.scss";
@import "~hme-design-system/src/components/modal/dishModal/dishModal.scss";
@import "~hme-design-system/src/components/list/list.scss";
@import "~hme-design-system/src/components/contentBlock/contentBlock.scss";
@import "~hme-design-system/src/components/fonts/fonts.scss";
@import "~hme-design-system/src/components/avatar/avatar.scss";

:root {
    --contentPadding: 3%;  // Hor paddings
    --contentBottomPadding: 150px;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 1920px;
}

#app {
    min-height: 100vh;
}

.error-label {
    font-weight: var(--font_thin);
    font-size: 14px;
    margin-bottom: 10px;
    color: red;
}


.info-label {
    font-weight: var(--font_medium);
    font-size: 14px;
    color: var(--color-green);
}

a {
    text-decoration: none;
}