@import "Components/userLoginForm/userLoginForm.scss";
@import "Components/userSignUpForm/userSignUpForm.scss";
@import "Components/dishPopup/dishPopup.scss";
@import "Components/cartOrder/cartOrderSummary.scss";
@import "Components/cartOrder/orderDelivery.scss";
@import "Components/mapPopup/mapPopup.scss";
@import "Components/orderProcess/orderProcess.scss";

@import "Views/restaurantView/restaurantPage.scss";
@import "Views/baseView/page.scss";
@import "Views/profileViews/baseProfilePage.scss";
@import "Views/profileViews/profileView/profilePage.scss";
@import "Views/profileViews/historyView/historyPage.scss";
@import "Views/homeView/homePage.scss";

@import "Components/promoLine/promoLine.scss";
@import "Components/restaurantsList/restaurantsList.scss";
@import "Components/snackBar/snackBar.scss";

//@import "~hme-design-system/tokens/octaviusToken";
//@import "~hme-design-system/tokens/token";
@import "~hme-design-system/src/components/button/button.scss";
@import "~hme-design-system/src/forms/input/input.scss";
@import "~hme-design-system/src/forms/tickForms/tickForm.scss";
@import "~hme-design-system/src/forms/tickForms/tickFormGroup.scss";
@import "~hme-design-system/src/components/dishBlock/dishBlock.scss";
@import "~hme-design-system/src/components/restaurantBlock/restaurantBlock.scss";
@import "~hme-design-system/src/components/modal/modal.scss";
@import "~hme-design-system/src/components/modal/continueModal/continueModal.scss";
@import "~hme-design-system/src/components/modal/dishModal/dishModal.scss";
@import "~hme-design-system/src/components/list/list.scss";
@import "~hme-design-system/src/components/contentBlock/contentBlock.scss";
@import "~hme-design-system/src/components/fonts/fonts.scss";
@import "~hme-design-system/src/components/avatar/avatar.scss";
@import "~hme-design-system/src/components/hamburger/hamburger.scss";
@import "~hme-design-system/src/components/profileButtonsNav/profileButtonsNav.scss";
//@import "~hme-design-system/src/components/cart/cart.scss";

.theme-switch-wrapper {
    display: flex;
    align-items: center;

    em {
        margin-left: 10px;
        font-size: 1rem;
    }
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

:root {
    --contentPadding: 3%;  // Hor paddings
    --contentBottomPadding: 150px;


    // FONTS

    --raleway-font: Raleway, sans-serif;

    --font_bold: 500;
    --font_medium: 600;
    --font_thin: 300;

    --fontSizeH1: 32px;
    --fontSizeH1M: 24px;
    --fontH1-MarginBottom: 20px;
    --fontSizeH2: 24px;
    --fontSizeH2M: 20px;
    --fontH2-MarginBottom: 16px;
    --fontSizeH3: 20px;
    --fontSizeH3M: 17px;
    --fontH3-MarginBottom: 12px;
    --fontSizeH4: 17px;
    --fontSizeH4M: 15px;
    --fontH4-MarginBottom: 12px;

    --fontSizeBody: 17px;
    --fontSizeBodyM: 15px;
    --fontSizeParagraph: 15px;
    --fontSizeParagraphM: 13px;
    --fontSizeLabel: 13px;
    --fontSizeLabelM: 11px;


    // COLORS

    --color-primary: #F6F6F6;
    --color-primary-hover: #d7d7d7;
    --color-primary-active: #bdbdbd;
    --color-secondary: #3E9920;
    --color-secondary-hover: #389818;
    --color-secondary-active: #308814;
    --color-black: rgba(0, 0, 0);
    --color-black-hover: rgba(50, 50, 50);
    --color-black-active: rgba(30, 30, 30);
    --color-white: #FFFFFF;
    --color-gray: #afafaf;
    --color-gray-hover: #AFACA7;
    --color-gray-active: #AFA99F;
    --color-light-gray: #eeeeee;

    // BUTTONS VARIABLES

    --buttonSm: 26px;
    --buttonHeightMd: 36px;
    --buttonHeightBg: 48px;

    --buttonIconVHeight: 60px;
    --buttonIconVIconSize: 50px;
    --buttonIconVBottomMargin: 5px; // margin bottom between icon and text
    --buttonIconMaxWidth: 15px;

    --buttonFontSize: 16px;

    --buttonPaddingHor: 20px; // x paddings inside button
    --buttonIconPadding: 10px; // padding around in icon button
    --buttonIconVPaddingHor: 10px; // x paddings inside vertical icon button

    --buttonBorderRadius: 10px; // std radius
    --buttonBorderRadiusMedium: 10px; // medium radius
    --buttonBorderRadiusHigh: 10px; // high radius

    --buttonIconMarginInside: 10px; // margin between text and icon in button

    --buttonBorder: solid 1px;
    --buttonBorderColor: rgba(0, 0, 0, 0.12);

    // INPUT VARIABLES

    --inputHeight: 48px;

    --inputPaddingHor: 15px;

    --inputFontSizeStd: 16px;

    --inputBorder: 1px solid;
    --inputBorderColor: #e2e2e2;

    --inputBorderRadius: 2px;
    --inputBorderRadiusMedium: 10px;
    --inputBorderRadiusHigh: 16px;

    --inputMarginBottom: 20px;

    --inputLabelTextFontSize: var(--fontSizeLabel);
    --inputLabelTextColor: var(--color-gray);
    --inputLabelTextMarginBottom: 4px;

    --inputIconMargin: 7px;  // hor margins for icon with input

    // TICK FORM(CHECKBOXES/RADIOBUTTON)

    --tickFormMarginBottom: 8px;
    --tickFormInfoMarginLeft: 5px;

    // DISH BLOCK

    --dishHeight: 160px;
    --dishBorderRadius: 16px;
    --dishTextBoxPadding: 16px;
    --dishHoverBorderColor: black;
    --dishBorder: 1px solid #e2e2e2;
    --dishMargin: 10px 10px 10px 0;


    // RESTAURANT BLOCK

    --restaurant-block_width_primary: 315px;
    --restaurant-block_height_primary: 188px;

    --restaurant-block__img-widht: 315px;
    --restaurant-block__img-height: 125px;
    --restaurantBlockBorder: solid 1px #e2e2e2;
    --restaurantBlockRadius: 16px;
    --restaurantBlockMargin: 10px 10px 10px 0; // margin around
    --restaurantBlockMarginHover: 8px 10px 12px 0;
    --restaurantBlockInfoPadding: 16px;

    // MODAL

    --modalOuterPadding: 64px;

    --modalWidth: 700px;
    --modalRadius: 32px;
    --modalHeaderMarginBottom: 8px;
    --modalBackgroundColor: white;
    --modalColor: black;

    // DISH MODAL

    --modalDishImageHeight: 250px;
    --modalDishImageMargin: 12px;

    // CONTENT BLOCK

    --contentBlockRadius: 32px;
    --contentBlockPadding: 64px;
    --contentBlockBoxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);
    --contentBlockBackgroundColor: var(--modalBackgroundColor);
    --contentBlockColor: black;

    // AVATAR

    --avatarSizeBg: 128px;
    --avatarSizeMd: 96px;
    --avatarSizeSm: 48px;
    --avatarBorderRadius: 50%;
    --avatarHoverOpacity: 30%;

    // SCROLLBAR

    --scrollbarWidth: 8px;
    --scrollbarBorderRadius: 20px;
    --scrollbarBoxShadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    --scrollbarBackgroundColor: var(--color-gray);

    // CARD

    --cardRadius: 32px;
    --cardOuterPadding: 32px;

    // PAGE COLOR
    --profileBackgroundColor: #f6f6f6;
    --homeBackgroundColor: white;
    --fontColor: black;
}


[data-theme="dark"] {
    // FONTS

    --raleway-font: Raleway, sans-serif;

    --font_bold: 800;
    --font_medium: 600;
    --font_thin: 300;

    --fontSizeH1: 32px;
    --fontH1-MarginBottom: 20px;
    --fontSizeH2: 24px;
    --fontH2-MarginBottom: 16px;
    --fontSizeH3: 20px;
    --fontH3-MarginBottom: 12px;
    --fontSizeH4: 17px;
    --fontH4-MarginBottom: 12px;

    --fontSizeBody: 17px;
    --fontSizeParagraph: 15px;
    --fontSizeLabel: 13px;


    // COLORS
    --color-primary: #ffffff;
    --color-primary-hover: #d5d2d2;
    --color-primary-active: #9ea2a2;
    --color-secondary: #1ed960;
    --color-secondary-hover: #327e1a;
    --color-secondary-active: #2c6b0d;
    --color-black: #000000;
    --color-black-hover: rgba(50, 50, 50);
    --color-black-active: rgba(30, 30, 30);
    --color-white: #ffffff;
    --color-gray: #ffffff;
    --color-gray-hover: #AFACA7;
    --color-gray-active: #AFA99F;
    --color-light-gray: #eeeeee;

    // BUTTONS VARIABLES

    --buttonSm: 26px;
    --buttonHeightMd: 36px;
    --buttonHeightBg: 48px;

    --buttonIconVHeight: 60px;
    --buttonIconVIconSize: 50px;
    --buttonIconVBottomMargin: 5px; // margin bottom between icon and text

    --buttonFontSize: 16px;

    --buttonPaddingHor: 20px; // x paddings inside button
    --buttonIconPadding: 10px; // padding around in icon button
    --buttonIconVPaddingHor: 10px; // x paddings inside vertical icon button

    --buttonBorderRadius: 2px; // std radius
    --buttonBorderRadiusMedium: 4px; // medium radius
    --buttonBorderRadiusHigh: 8px; // high radius

    --buttonIconMarginInside: 10px; // margin between text and icon in button

    --buttonBorder: solid 1px;
    --buttonBorderColor: rgba(0, 0, 0, 0.12);

    // INPUT VARIABLES

    --inputHeight: 48px;

    --inputPaddingHor: 15px;

    --inputFontSizeStd: 16px;

    --inputBorder: 1px solid;
    --inputBorderColor: #e2e2e2;

    --inputBorderRadius: 2px;
    --inputBorderRadiusMedium: 10px;
    --inputBorderRadiusHigh: 16px;

    --inputMarginBottom: 20px;

    --inputLabelTextFontSize: var(--fontSizeLabel);
    --inputLabelTextColor: var(--color-gray);
    --inputLabelTextMarginBottom: 4px;

    --inputIconMargin: 7px;  // hor margins for icon with input

    // TICK FORM(CHECKBOXES/RADIOBUTTON)

    --tickFormMarginBottom: 8px;
    --tickFormInfoMarginLeft: 5px;

    // DISH BLOCK

    --dishHeight: 200px;
    --dishBorderRadius: 4px;
    --dishTextBoxPadding: 20px;
    --dishHoverBorderColor: green;
    --dishBorder: 1px solid #e2e2e2;
    --dishMargin: 10px 10px 10px 0;


    // RESTAURANT BLOCK

    --restaurant-block_width_primary: 315px;
    --restaurant-block_height_primary: 188px;
    --restaurantRatingBackgroundColor: white;
    --restaurantRatingColor: black;

    --restaurant-block__img-widht: 315px;
    --restaurant-block__img-height: 150px;
    --restaurantBlockBorder: solid 1px #white;
    --restaurantBlockRadius: 4px;
    --restaurantBlockMargin: 10px 10px 10px 0; // margin around
    --restaurantBlockMarginHover: 8px 10px 12px 0;
    --restaurantBlockInfoPadding: 20px;

    // MODAL

    --modalOuterPadding: 32px;

    --modalWidth: 700px;
    --modalRadius: 10px;
    --modalHeaderMarginBottom: 8px;
    --modalBackgroundColor: #181818;
    --modalColor: white;

    // DISH MODAL

    --modalDishImageHeight: 300px;
    --modalDishImageMargin: 20px;

    // CONTENT BLOCK

    --contentBlockRadius: var(--modalRadius);
    --contentBlockPadding: var(--modalOuterPadding);
    --contentBlockBoxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);
    --contentBlockBackgroundColor: var(--modalBackgroundColor);
    --contentBlockColor: white;

    // AVATAR

    --avatarSizeBg: 128px;
    --avatarSizeMd: 96px;
    --avatarSizeSm: 48px;
    --avatarBorderRadius: 20%;
    --avatarHoverOpacity: 30%;

    // SCROLLBAR

    --scrollbarWidth: 12px;
    --scrollbarBorderRadius: 0px;
    --scrollbarBoxShadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    --scrollbarBackgroundColor: #181818;
    --scrollbarCurColor: #b3b3b3;

    // CARD

    --cardRadius: 8px;
    --cardOuterPadding: 16px;

    // NAVBAR

    --hamburgerWidth: 300px;
    --hamburgerPadding: 20px;
    --hamburgerButtonsVertMargin: 5px;
    --hamburgerProfileImgSize: 50px;
    --hamburgerProfileTextBoxPaddingLeft: 10px; // padding between image and text

    --navbarHeight: 96px;
    --logoMarginLeft: 30px;
    --navbarButtonSpacer: 30px; // margin between buttons and inputs in navbar

    --navbarProfileTextBoxFontSize: 18px;
    --navbarProfileProfileLinkFontSize: 13px;

    --navbarSearchInputMinWidth: 100px;
    --navbarSearchInputMaxWidth: 442px;


    // PAGE COLOR
    --profileBackgroundColor: gray;
    --homeBackgroundColor: #2e2e2e;
    --fontColor: white;
}


body {
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 1920px;
}

#app {
    min-height: 100vh;
}

.error-label {
    font-weight: var(--font_thin);
    font-size: 14px;
    margin-bottom: 10px;
    color: red;
}


.info-label {
    font-weight: var(--font_medium);
    font-size: 14px;
    color: var(--color-green);
}

a {
    text-decoration: none;
}

.mr {
    margin-right: 10px;
}

.mt {
    margin-top: 10px;
}

.ml {
    margin-left: 10px;
}

.ml_auto {
    margin-left: auto;
}

.mr_auto {
    margin-right: auto;
}

body {
    font-family: var(--raleway-font);
    //font-family: "JetBrains Mono Thin", sans-serif;
    //font-family: "Droid Sans";
}

body::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

body::-webkit-scrollbar-track {
    background-color: var(--scrollbarBackgroundColor);
    border-radius: var(--scrollbarBorderRadius);
}

body::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbarBorderRadius);
    background-color: var(--scrollbarCurColor);
    box-shadow: var(--scrollbarBoxShadow);
}