.page__content {
    display: flex;
    flex-direction: column;

    padding-left: var(--contentPadding);
    padding-right: var(--contentPadding);
    padding-bottom: var(--contentBottomPadding);

    background-color: var(--homeBackgroundColor);
    color: var(--fontColor);
}