h3 {
    margin: 0;
}

.home-page {
    width: 100vw;
    display: flex;
    align-items: center;
}

.home-page__content {
    width: 100vw;
    display: flex;
    flex-direction: column;

    padding-left: 30px;
    padding-right: 30px;
}

.home-page__restaurant-block-title {
    display: inline-block;
    font-size: 30px;
    font-weight: 800;
    min-width: 100%;
}

.home-page__promo-line {
    margin-top: 20px;
}

.home-page__restaurants-list {
    width: 81%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 30px;
    margin-left: auto;
}

.home-page__restaurant-block {
    margin: 10px;
}

.home-page__sort {
    display: flex;
    max-width: 16%;
}

.home-page__line {
    display: flex;
    align-items: flex-start;
}